/*
skins available:
	- universal
	- classic
	- attractive
*/

/* the container */
.allinone_bannerRotator {
	position:relative;
	border: 1px solid #cdcdcd;
}
.allinone_bannerRotator img {
	position:absolute;
	top:0px;
	left:0px;
	max-width:none;
	max-height:none;
	
}
.allinone_bannerRotator_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}
.allinone_bannerRotator .stripe {
	position:absolute;
	display:block;	
	height:100%;
	z-index:1;
	overflow:hidden;
}
.allinone_bannerRotator .block {
	position:absolute;
	display:block;	
	z-index:1;
	overflow:hidden;
}
.mycanvas {
	position:absolute;
	top:8px;
	right:10px;
	z-index:10;
}



/***CLASSIC SKIN***/
.allinone_bannerRotator.classic .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
}

.allinone_bannerRotator.classic .leftNav {
	position:absolute;
	left:-1px;
	top:50%;
	/*margin-top:-20px;  height/2 */
	width:20px;
	height:177px;
	background:url(skins/classic/leftNavOFF2.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_bannerRotator.classic .leftNav:hover {
	background:url(skins/classic/leftNavON2.png) 0 0 no-repeat;
}
.allinone_bannerRotator.classic .rightNav {
	position:absolute;
	right:-1px;
	top:50%;
	/*margin-top:-20px;  height/2 */
	width:20px;
	height:177px;
	background:url(skins/classic/rightNavOFF2.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_bannerRotator.classic .rightNav:hover {
	background:url(skins/classic/rightNavON2.png) 0 0 no-repeat;
}
.allinone_bannerRotator.classic .bottomNav {
	position:absolute;
	zbackground:url(skins/classic/bottomNavBg.png) 0 0 repeat-x;
	width:0px;
	height:24px;
	z-index:4;
	padding-left:9px;
}
.allinone_bannerRotator.classic .bottomNavButtonOFF {
	float:left;
	display:block;
	width:14px;
	height:14px;
	background:url(skins/classic/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:9px;
	cursor: pointer;
}

.allinone_bannerRotator.classic .bottomNavButtonON {
	float:left;
	display:block;
	width:14px;
	height:14px;
	padding-left:9px;
	background:url(skins/classic/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_bannerRotator.classic .bottomNavLeft {
	position:absolute;
	width:0px;
	display:none;
	xbackground:#F00;
	height:24px;
	z-index:4;
}
.allinone_bannerRotator.classic .bottomNavRight {
	position:absolute;
	width:0px;
	display:none;
	height:24px;
	xbackground:#F00;
	z-index:4;
}

.allinone_bannerRotator.classic .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	background:url(skins/classic/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom:27px;
	margin-left:-25px;
}
.allinone_bannerRotator.classic .bottomOverThumb img {
	border:4px solid #000000;
}




/***Text Styles***/


.allinone_bannerRotator_texts {
	position:absolute;
	z-index:3;
	display: none;
	width:100%;
	text-align:left;
}
.allinone_bannerRotator_text_line {
	position:absolute;
}


/****Text Classic Fixed Dimensions***/

.textElement11_classic {
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}


.textElement12_classic {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}

.textElement12_classic a {
	color:#cf0005;
	text-decoration:none;
}

.textElement12_classic a:hover {
	color:#FFFFFF;
}

.textElement21_classic {
	font: bold 32px/1.0em 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
}
.textElement22_classic {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
}

.textElement31_classic {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:0px 15px 3px 15px;
	color:#FFFFFF;
}

.textElement32_classic {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#FFFFFF;
}

.textElement33_classic {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:4px 15px 6px 15px;
	color:#FFFFFF;
}


.textElement41_classic {
	font: bold 40px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}
.textElement42_classic {
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}

.textElement51_classic {
	font: bold 28px 'Cabin', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#ffffff;
}


.textElement51_classic a {
	color:#ffffff;
	text-decoration:none;
}

.textElement51_classic a:hover {
	color:#ffe400;
}


.textElement52_classic {
	width:43%;
	background:url(skins/classic/textBg_transparency.png);
	font: 14px/1.3em 'Arial', Verdana, Helvetica, sans-serif;
	padding:15px 15px 15px 15px;
	color:#FFF;
}

.textElement52_classic a {
	color:#FF0000;
	text-decoration:none;
}

.textElement52_classic a:hover {
	color:#ffc000;
	text-decoration:none;
}
.textElement53_classic {
	font: bold 16px 'Droid Sans', Verdana, Helvetica, sans-serif;
}

.textElement53_classic a {
	background:#d30000;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
	text-decoration:none;
}

.textElement53_classic a:hover {
	background:#FFFFFF;
	padding:6px 15px 6px 15px;
	border:#FF0000 1px solid;
	color:#512d5d;
}




/****Text Classic Responsive***/

.textElement11_classic_responsive {
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:34px;
	color:#000000;
}


.textElement12_classic_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:25px;
	color:#000000;
}

.textElement12_classic_responsive a {
	color:#cf0005;
	text-decoration:none;
}

.textElement12_classic_responsive a:hover {
	color:#FFFFFF;
}

.textElement21_classic_responsive {
	font: bold 32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:38px;
	color:#ffffff;
}
.textElement22_classic_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:24px;
	color:#ffffff;
}

.textElement31_classic_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFFFFF;
}

.textElement32_classic_responsive {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#FFFFFF;
}

.textElement33_classic_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFFFFF;
}


.textElement41_classic_responsive {
	font: bold 40px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:56px;
	color:#000000;
}
.textElement42_classic_responsive {
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:30px;
	color:#000000;
}

.textElement51_classic_responsive {
	font: bold 28px 'Cabin', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#ffffff;
}


.textElement51_classic_responsive a {
	color:#ffffff;
	text-decoration:none;
}

.textElement51_classic_responsive a:hover {
	color:#ffe400;
}




.textElement52_classic_responsive {
	width:44%;
	font: 18px 'Arial', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFF;
}

.textElement52_classic_responsive a {
	color:#FF0000;
	text-decoration:none;
}

.textElement52_classic_responsive a:hover {
	color:#ffc000;
	text-decoration:none;
}





/****Text Classic FullWidth***/

.textElement11_classic_FullWidth {
	font: bold 38px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:54px;
	color:#000000;
}


.textElement12_classic_FullWidth {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#000000;
}

.textElement12_classic_FullWidth a {
	color:#cf0005;
	text-decoration:none;
}

.textElement12_classic_FullWidth a:hover {
	color:#FFFFFF;
}

.textElement21_classic_FullWidth {
	font: bold 42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:53px;
	color:#ffffff;
}
.textElement22_classic_FullWidth {
	font: bold 28px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:38px;
	color:#ffffff;
}

.textElement31_classic_FullWidth {
	font: bold 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
}

.textElement32_classic_FullWidth {
	font: bold 48px/64px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#FFFFFF;
}

.textElement33_classic_FullWidth {
	font: bold 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
}



.textElement41_classic_FullWidth {
	font: bold 52px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:72px;
	color:#000000;
}
.textElement42_classic_FullWidth {
	font: bold 32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:45px;
	color:#000000;
}

.textElement51_classic_FullWidth {
	font: bold 48px 'Cabin', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:68px;
	color:#ffffff;
}


.textElement51_classic_FullWidth a {
	color:#ffffff;
	text-decoration:none;
}

.textElement51_classic_FullWidth a:hover {
	color:#ffe400;
}




.textElement52_classic_FullWidth {
	width:35%;
	font: 28px 'Arial', Verdana, Helvetica, sans-serif;
	line-height:37px;
	color:#FFF;
}

.textElement52_classic_FullWidth a {
	color:#FF0000;
	text-decoration:none;
}

.textElement52_classic_FullWidth a:hover {
	color:#ffc000;
	text-decoration:none;
}




.hideElement {
	display:none;
}

