

.icon{background-image:url('images/mDirect.png');background-repeat:no-repeat;}

.Big_Chip{width:338px;height:182px;background-position:0 0;}
.Fast_Answers{width:218px;height:118px;background-position:-338px 0}
.Register{width:225px;height:116px;background-position:-556px 0}
.Browse_Catalog{width:219px;height:108px;background-position:-781px 0}
.mDirect_with_web{width:274px;height:96px;background-position:-1000px 0}
.mDirect_with_out_weeb{width:274px;height:81px;background-position:-1000px -96px}
.mDirect_with_web{width:194px;height:69px;background-position:-1274px 0}
.mchp_logo_lrg{width:266px;height:66px;background-position:-556px -116px}
.Youtube{width:66px;height:66px;background-position:-1274px -69px}
.Facebook{width:60px;height:62px;background-position:-1340px -69px}
.mDirect_with_out_weeb{width:194px;height:59px;background-position:-338px -118px}
.mchp_logo_med{width:202px;height:51px;background-position:-1274px -135px}
.mDirect_with_web{width:140px;height:51px;background-position:-822px -108px}
.mDirect_with_out_weeb{width:140px;height:43px;background-position:-822px -159px}
.Green_Grade{width:793px;height:40px;background-position:0 -182px}
.Green_Grade_Sliver{width:11px;height:40px;background-position:-962px -108px}
.Green_h30_submit_Lft{width:18px;height:36px;background-position:-973px -108px}
.Green_h30_submit_rght{width:19px;height:36px;background-position:-973px -144px}
.Green_h29_Checkout_Quote_Status_Lft{width:20px;height:36px;background-position:-992px -177px}
.Green_h30_submit_submit{width:75px;height:36px;background-position:-1012px -177px}
.Green_h30_submit_Sliver{width:8px;height:36px;background-position:-962px -148px}
.Green_h29_Checkout_Quote_Status_Sliver{width:8px;height:36px;background-position:-1087px -177px}
.Green_h29_Checkout_Quote_Status_Rt{width:20px;height:36px;background-position:-1095px -177px}
.Green_h29_Checkout_Quote_Status_Shape{width:179px;height:36px;background-position:-1115px -186px}
.Live_Chat_Bubble{width:79px;height:34px;background-position:-1294px -186px}
.steps_bar_2{width:218px;height:34px;background-position:-796px -216px;}
.steps_bar_1{width:218px;height:34px;background-position:-3px -225px;}
.Green_h26_Register_New_Product_Lft{width:19px;height:32px;background-position:-1373px -186px}
.Green_h26_Register_New_Product_Sliver{width:8px;height:32px;background-position:-1392px -186px}
.Green_h26_Register_New_Product_Rt{width:21px;height:32px;background-position:-1400px -186px}
.Green_h26_Register_New_Product_Shape{width:214px;height:32px;background-position:-224px -222px}
.Dark_Green_My_Cart_search_buttons{width:92px;height:30px;background-position:-1017px -213px}
.mchp_logo{width:110px;height:30px;background-position:-1294px -220px}
.Dark_Green_Checkout_search_buttons{width:92px;height:30px;background-position:-438px -222px}
.Grey_h22_logout_Lft{width:17px;height:28px;background-position:-1421px -186px}
.Grey_h22_logout_Sliver{width:8px;height:28px;background-position:-1438px -186px}
.Grey_h22_logout_Rt{width:18px;height:28px;background-position:-1446px -186px}
.Grey_h22_logout_Shape{width:79px;height:28px;background-position:-530px -222px}
.Green_h22_Appprove_REjjject_Rt{width:18px;height:28px;background-position:-1421px -214px}
.Green_h22_Appprove_REjjject_Sliver{width:8px;height:28px;background-position:-1464px -186px}
.Green_h22_Appprove_REjjject_Shape{width:277px;height:28px;background-position:-609px -247px}
.Green_h22_Appprove_REjjject_Lft{width:18px;height:28px;background-position:-1439px -214px}
.Green_h22_Setup_Shape{width:62px;height:28px;background-position:-1109px -222px}
.Green_h22_Setup_Layer_2{width:18px;height:28px;background-position:-1457px -214px}
.Green_h22_Setup_Lft{width:18px;height:28px;background-position:-1171px -222px}
.Green_h22_Setup_Layer_1{width:8px;height:28px;background-position:-1404px -218px}
.Grey_h20_Lft{width:19px;height:27px;background-position:-1189px -222px}
.Plus{width:27px;height:27px;background-position:-1208px -222px}
.Grey_h20_Lft{width:19px;height:27px;background-position:-1235px -222px}
.Grey_h20_GRey_w/Arrow{width:121px;height:27px;background-position:-886px -247px}
.Grey_h20_Sliver{width:8px;height:27px;background-position:-1412px -218px}
.Grey_h20_Grey{width:121px;height:27px;background-position:-1007px -250px}
.Grey_h20_Sliver{width:8px;height:27px;background-position:-1254px -222px}
.Grey_h20_rt_arrow{width:19px;height:27px;background-position:-1262px -222px}
.Grey_h20_rt{width:19px;height:27px;background-position:-1420px -242px}
.Grey_19_Learn_More_Shape{width:90px;height:26px;background-position:-1189px -249px}
.Download{width:26px;height:26px;background-position:-1439px -242px}
.Call{width:26px;height:26px;background-position:-530px -250px}
.Grey_19_Learn_More_Sliver{width:8px;height:25px;background-position:-1281px -222px}
.Grey_19_Learn_More_Lft{width:16px;height:25px;background-position:-556px -250px}
.Grey_19_Learn_More_Rt_Arrow{width:18px;height:25px;background-position:-572px -250px}
.MagGlass{width:23px;height:23px;background-position:-1128px -250px}
.Q_button{width:19px;height:19px;background-position:-1151px -250px}
.Home_Left_Nav_Arrow{width:17px;height:16px;background-position:-590px -250px}
