﻿/*
form { padding:10px; }
h1 { padding-bottom: 10px; }
h3 { padding: 20px 0px 8px 0px; }
*/
/* table level rules */
.yui-grid { font-family: arial; font-size: small; border: solid 2px Black; border-collapse: collapse; }


/* header column rules */
.yui-grid th { background: url(../img/sprite.png) repeat-x 0px 0px; border-color: #989898 #cbcbcb #989898 #989898; border-style: solid solid solid none; border-width: 1px 1px 1px medium; color: #000; padding: 4px 5px 4px 10px; text-align: center; vertical-align: bottom; }

.yui-grid th a { font-weight: normal; text-decoration: none; font-weight: bold; text-align: center; display: block; padding-right: 10px; }

/* change the background image when the column is being sorted by */
.yui-grid th.sortasc, .yui-grid th.sortdesc { background: url(../img/sprite.png) repeat-x 0px -100px; }

/* change image if it is an asc sort */
.yui-grid th.sortasc a { background: url(../img/dt-arrow-up.png) no-repeat right 50%; }

/* change image if it is a desc sort */
.yui-grid th.sortdesc a { background: url(../img/dt-arrow-dn.png) no-repeat right 50%; }


/* data cell and data row rules */
.yui-grid td { padding: 4px 10px 4px 10px; border-right: solid 1px #cbcbcb; }

.yui-grid .altrow, .yui-grid .row .sort { background-color: #edf5ff; }

.yui-grid .altrow .sort { background-color: #dbeaff; }

.yui-grid .row { background-color: #fff; }
